.react-read-less-more .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
 }
 .react-read-less-more .delete-icon {
    padding-left: 10px;
}
.react-read-less-more .show-less-more {
    padding-left: 10px;
}